.uiet-logo{
    margin-right: 40px;
}

.head{
    text-align: center;
    margin: 0 10%;
}

.uiet-name{
    display: inline-block;
    letter-spacing: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: 500 !important;
    line-height: 1;
    color:#294a70;
}

.nav-bar{
    margin-top: 30px;
}

ul {
    list-style-type: none;
    margin: 10%;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #294a70;
  }

  .home-page-text{
      margin: 3% 10%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size:1.5em;
  }

  .media-pic
  {
      margin : 0% 2%;
      box-shadow: 2px 2px 2px gray;
  }
  .media-pic:hover
  {
    box-shadow: 7px 7px 7px gray;
  }

  .youtube-embed
  {
    margin-left: 20% ;
    margin-bottom: 2%;
  }